.connect-image{
    width:60%;
}


#connect_heading{
    background:none;
}

.connect_container2{
    display:flex;
    position:relative;
    padding:80px;
    gap:50px;

}

.connect_container{
    background:linear-gradient(to bottom,#0B0226  , #3A2773);
    width:100%;
}

.connect_form{
    width:40%;
    position:relative;
}
.connect_input {
    background: none;
    border: 1px solid #B3CAFF;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
    position: relative;
}


.connect_input::placeholder {
    color: #B3CAFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.connect_input_label{
    margin-top:20px;
    font-size: 15px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    
    padding: 0px 5px;
}


#connect_textarea{
    height:30%;
}

.connect_button{
    background: #B3CAFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #0B0226;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}